
{% extends "base.html" %}
{% block title %}geoname_list.html (Class-based){% endblock %}
{% block content %}

<script src="{{ STATIC_URL }}twitter-bootstrap/docs/assets/js/jquery.js"></script>


<div class="pagination-right">
  <ul class="pager">
        {% if page_obj.has_previous %}
            <li><a href="?page=1">&laquo;</a></li>
            <li><a href="?page={{ page_obj.previous_page_number }}">&lsaquo;</a></li>
        {% else %}
           <li class="disabled">
               <a href="#">&laquo;</a>
               <a href="#">&lsaquo;</a>
           </li>
        {% endif %}

        <span class="current">
            <li>Halaman {{ page_obj.number }} dari {{ page_obj.paginator.num_pages }}.</li>
        </span>

        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">&rsaquo;</a></li>
            <li><a href="?page=last">&raquo;</a></li>
        {% else %}
           <li class="disabled">
               <a href="#">&rsaquo;</a>
               <a href="#">&raquo;</a>
           </li>
        {% endif %}
  </ul>
</div>

{% if geoname_list %}
    <table id="geoname" class="table table-striped table-bordered table-hover table-condensed">
         <thead>
           <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Other field</th>
           </tr>
         </thead>
        {% for geoname in geoname_list %}
            <tr>
                <td><a href="/geo/{{ geoname.id }}/" rel="tooltip" data-placement="top" title="detail for {{ geoname.id }}">{{ forloop.counter }}</a></td>
                <td>{{ geoname.name }}</td>
                <td>{{ geoname.latitude }}</td>
                <td>{{ geoname.longitude }}</td>
                <td><a href="/geo/{{ geoname.id }}/" class="see_detail">detail</a></td>
            </tr>
        {% endfor %}
    </table>
<em>{{ page_obj.paginator.count }} geonames  </em> 
{% endif %}

<div class="pagination-right">
  <ul class="pager">
        {% if page_obj.has_previous %}
            <li><a href="?page=1">&laquo;</a></li>
            <li><a href="?page={{ page_obj.previous_page_number }}">&lsaquo;</a></li>
        {% else %}
           <li class="disabled">
               <a href="#">&laquo;</a>
               <a href="#">&lsaquo;</a>
           </li>
       {% endif %}

        <span class="current">
            <li>Halaman {{ page_obj.number }} dari {{ page_obj.paginator.num_pages }}.</li>
        </span>

        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">&rsaquo;</a></li>
            <li><a href="?page=last">&raquo;</a></li>
        {% else %}
           <li class="disabled">
               <a href="#">&rsaquo;</a>
               <a href="#">&raquo;</a>
           </li>
        {% endif %}
  </ul>
</div>


{% endblock %}
