{% extends "base.html" %}
{% block title %}Toko Online eBlanja &middot; Keranjang belanja{% endblock %}
{% block content %}
<script src="{{ STATIC_URL }}twitter-bootstrap/dist/js/jquery.js"></script>

      <div class="panel panel-info">	<!-- info, success, warning, danger -->
        <div class="panel-heading">
          <h3 class="panel-title">Daftar Belanja Hari ini | cart.html</h3>
        </div><!-- end panel heading  -->
	  <div class="panel-body">


<h3><span class="glyphicon glyphicon-shopping-cart">&nbsp;{{ "Keranjang Belanja" }}</h3>
    <table id="shopping_cart" class="table table-striped table-hover table-condensed">
         <thead>
           <tr>
                <th>No.</th>
                <th>Item</th>
                <th></th>
                <th style="text-align:right">Harga (Rp)</th>
                <th >Jumlah</th>
                <th style="text-align:right">Total (Rp)</th>
                <th></th>
           </tr>
         </thead>
		<tfoot>
			<tr>
			<th colspan="4"></th>
			<th  style="text-align:right" colspan="1">Subtotal (Rp):</th>
			<th  style="text-align:right">
					{{ cart_subtotal|floatformat }}
				</th>

			<th></th>
			</tr>
			{% if cart_items %}
			<tr>

			</tr>
			{% endif %}

                        <tr>
			<th colspan="4"></th>
			<th  style="text-align:right" colspan="1">Biaya pengiriman (Rp):</th>
			<th  style="text-align:right">
					(later?)
				</th>
			<th></th>
                        <tr>
			<th colspan="4"></th>
			<th  style="text-align:right" colspan="1">TOTAL (Rp):</th>
			<th  style="text-align:right">
					(later?)
				</th>
			<th></th>

                        </tr>
		</tfoot>
	<tbody>
        {% if cart_items %}
          {% for item in cart_items %}
            <tr>
                <td>{{ forloop.counter }}</td>

		<td><img src="{{ MEDIA_URL }}{{ item.imgthumb }}" width="30" /></td>

                <td><a href="{{ item.get_absolute_url }}" class="cart">{{ item.name }}</a></td>
		<td style="text-align:right">{{ item.price|floatformat }}</td>					
		<td class="right">
			<form method="post" action="." class="cart">{% csrf_token %}
				<input type="number" min="0" step="1" pattern="\d+" required="required" name="quantity" value="{{ item.quantity }}" id="quantity" size="2" class="quantity" maxlength="5" title="hanya bilangan bulat"/>
				<input type="hidden" name="item_id" value="{{ item.id }}" />
				<input type="submit" class="btn btn-primary btn-xs" name="submit"
 value="Update" />
<!--Not necessary?		<input type="reset" class="btn btn-warning btn-xs" name="cancel"
 value="Cancel" />
-->

			</form>
		</td>
		<td style="text-align:right">{{ item.total|floatformat }}</td>

		<td><a href="{% url 'cartItem-del' item.slug %}" class="btn btn-xs" title="Hapus {{ item.name }}"><span class="glyphicon glyphicon-trash"></a></td>
            </tr>
          {% endfor %}
	{% else %}
	    <tr>
	    <td colspan="8" style="height:30px;">Your cart is empty.</td>
	    </tr>
	{% endif %}

	</tbody>
     </table>

<p><a href="{% url 'shop.views.show_all_category' %}" role="button" class="btn btn-info pull-left" >&laquo; Lanjutkan belanja</a>
        {% if cart_items %}
<!--<a href="/% url 'shop.views.show_checkout' %/" role="button" class="btn btn-info pull-right" >Checkout &raquo;</a>  -->
<a href="{% url 'order-add' %}" role="button" class="btn btn-info pull-right" >Checkout &raquo;</a>

</p>
        {% endif %}
 </div><!-- end panel body  -->
</div><!-- end panel  -->


{% endblock %}
