{% extends "base.html" %}
{% load i18n %}
{% block title %}Toko Online eBlanja &middot; PayPal Rest{% endblock %}
{% block content %}
<script type="text/javascript" src="{{ STATIC_URL }}twitter-bootstrap/dist/js/jquery.js"></script>

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">**DEMO** PayPal Rest Payment</h3>
  </div><!-- end panel heading  -->
    <div class="panel-body">


<h4>**DEMO** Payment with PayPal Rest SDK</h4>
<br>
{% if form.errors %}
<p style="color: red;">
Please correct the error{{ form.errors|pluralize }} below.
</p>
{% endif %}

<h3>Amount Due: Rp {{ order.total|floatformat }} <i>--atau--</i> USD {{ titems }}</h3>
<br/>
<form action="" method="post">
{% csrf_token %}
<table>
{{ form.as_table }}
</table>
  <div class="span6"></div><div class="pull right"><input type="submit" class="btn btn-primary" value="{% trans 'Submit' %}" name="payment"/></div>
  </form>
</form> 

 </div><!-- end panel body  -->
</div><!-- end panel  -->


{% endblock %}
