{% extends 'base.html' %}
{% block title %}Reset berhasil{% endblock %}
{% load i18n %}

{% block content %}
<script src="{{ STATIC_URL }}twitter-bootstrap/dist/js/jquery.js"></script>

<div class="panel panel-success">
   <div class="panel-heading">
<!--          <h3 class="panel-title">Reset berhasil</h3>	-->
   </div><!-- end panel heading  -->
  <div class="panel-body">


    <div class="content">
        <h4>{% trans 'Password reset complete' %}</h4>
        <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
    </div>

 </div><!-- end panel body  -->
</div><!-- end panel  -->

{% endblock %}
