{% extends 'base.html' %}
{% block title %}Permintaan reset berhasil{% endblock %}
{% load i18n %}

{% block content %}
<script src="{{ STATIC_URL }}twitter-bootstrap/dist/js/jquery.js"></script>

<div class="panel panel-success">
   <div class="panel-heading">
<!--          <h3 class="panel-title">Permintaas Reset berhasil</h3>	-->
   </div><!-- end panel heading  -->
  <div class="panel-body">


    <div class="content">
        <h3>{% trans 'Password reset successful' %}</h3>
        <p>{% trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly." %}</p>
    </div>

 </div><!-- end panel body  -->
</div><!-- end panel  -->

<!-- </div>  -->    <!-- end Jumbotron  -->
{% endblock %}
