{% extends 'base.html' %}
{% block title %}Password berhasil diubah{% endblock %}
{% load i18n %}

{% block content %}
<script src="{{ STATIC_URL }}twitter-bootstrap/dist/js/jquery.js"></script>

      <div class="panel panel-success">
        <div class="panel-heading">
<!--          <h3 class="panel-title">Sukses Mengganti Password</h3>	-->
        </div><!-- end panel heading  -->
  <div class="panel-body">

    <div class="content">
        <h3>{% trans 'Password change successful' %}</h3>
        <p><a href="{% url 'home' %}">{% trans 'Home' %}</a></p>
    </div>   

 </div><!-- end panel body  -->
</div><!-- end panel  -->
{% endblock %}
