{% extends "base.html" %}
{% block title %}Toko Online eBlanja &middot; Belanja mudah dan aman{% endblock %}

{% block contentgrid %}

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}codrops/AnimatedResponsiveImageGrid/css/style.css" />
<script type="text/javascript" src="{{ STATIC_URL}}codrops/AnimatedResponsiveImageGrid/js/modernizr.custom.26633.js"></script>
<noscript>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}codrops/AnimatedResponsiveImageGrid/css/fallback.css" />
</noscript>

<img src="{{ STATIC_URL}}codrops/AnimatedResponsiveImageGrid/images/loading.gif" style="display:none;"/>
   <div class="container">  <!-- start container -->
	<section class="main">    
	<div id="ri-grid" class="ri-grid ri-grid-size-2 ri-shadow">
	<ul>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/1.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/2.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/3.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/4.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/5.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/6.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/7.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/8.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/9.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/10.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/11.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/12.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/13.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/14.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/15.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/16.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/17.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/18.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/19.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/20.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/21.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/22.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/23.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/24.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/25.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/26.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/27.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/28.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/29.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/30.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/31.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/32.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/33.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/34.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/35.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/36.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/37.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/38.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/39.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/40.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/41.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/42.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/43.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/44.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/45.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/46.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/47.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/48.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/49.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/50.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/51.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/52.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/53.jpg"/></a></li>
	<li><a href="#"><img src="{{ MEDIA_URL }}CodropsImageGrid/54.jpg"/></a></li>
	</ul>
	</div>
	</section>   
		
        </div> <!--/end container -->
        <script type="text/javascript" src="{{ STATIC_URL }}twitter-bootstrap/dist/js/jquery.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL}}codrops/AnimatedResponsiveImageGrid/js/jquery.gridrotator.js"></script>
		<script type="text/javascript">	
			$(function() {
			
				$( '#ri-grid' ).gridrotator( {
					rows		: 3,
					columns		: 15,
					
					animSpeed	: 500,
					interval	: 3000,
					step		: 2,
					w320		: {
						rows	: 3,
						columns	: 4
					},
					w240		: {
						rows	: 3,
						columns	: 4
					}
				} );
			
			});
		</script>

{% endblock %}



{% block content %}
<div class="jumbotron">    <!-- start Jumbotron -->
  <div id="endik">
        <h1>**DEMO**</h1>
        <h1>Selamat Datang!</h1>
  </div>


        <p><small>Kami menyediakan produk-produk pilihan yang berkualitas, dengan layanan prima -- silahkan masuk dan nikmati keberadaan anda disini!.</small></p>

  <div id="endik2">
        <p><a href="#myModal" role="button" class="btn btn-primary btn-large" data-toggle="modal">Informasi &raquo;</a></p>


<!--       following button also work for Modal!
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>
-->

  </div>

  <style>
  #endik{

        #font-size:40px;
        #color:#FFF;
        text-shadow: 2px 2px 15px #000;
        }
  #endik2{

-webkit-box-reflect: below 10px
  -webkit-gradient(linear, left top, left bottom, 
                   from(transparent), to(rgba(255, 255, 255, 0.28)));
  }
  </style>
</div>    <!-- end Jumbotron  -->
{% endblock %}

{% block contentteaser %}
          <div class="row">
            <div class="col-3 col-sm-3 col-md-3 col-lg-3">
              <h2>Selalu ada yang pertama ...</h2>
              <p><em>Alhamdulillah,</em> bulan September ini merupakan bulan berkah bagi kami untuk dapat memulai sebuah langkah kecil, membuka situs toko online pertama dengan harapan tulus agar ... </p>
              <p><a class="btn btn-default" href="#">Lihat detil &raquo;</a></p>

            </div><!--/span-->
            <div class="col-3 col-sm-3 col-md-3 col-lg-3">
              <h2>Rendang Padang</h2>
              <p>Nikmati sensasi rendang asli dari Padang, masakan no.1 dunia versi CNN Go!, anda pesan kami antar.  {Promo: beli 2kg, dapat 1 kg gratis} </p>
              <p><a class="btn btn-default" href="#">Lihat detil &raquo;</a></p>
              <p><a class="btn-md" href="#">Beli, Rendang Padang, maaf stok sedang habis. Kunjungi lagi nanti  </a></p>
            </div><!--/span-->
            <div class="col-3 col-sm-3 col-md-3 col-lg-3">
              <h2>Alat musik tradisional</h2>
              <p>Kecapi sunda, talempong, tifa, gondang, pupuik, gending, dlsb. </p>
              <p><a class="btn btn-default" href="#">Lihat detil &raquo;</a></p>
              <p><a class="btn btn-info" href="#">Beli!</a></p>
            </div><!--/span-->
            <div class="col-3 col-sm-3 col-md-3 col-lg-3">
              <h2>Wayang golek</h2>
              <p>Cocok untuk hiasan ruang tamu rumah anda, dan untuk lomba wayang tahunan di kota anda! </p>
              <p><a class="btn btn-default" href="#">Lihat detil &raquo;</a></p>
              <p><a class="btn-sm" href="#">Beli, WWayang dari kayu pilihan. Bagus. Promo, beli 2 dapat satu gratis  </a></p>
		<p><button id="alert1" class="btn btn-danger">Alert</button><br></p>
            </div><!--/span-->

          </div><!--/row-->


<!--modal-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--/modal-->

{% endblock %}


